/* Legend Font Style */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
	font: 11px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: rgb(30,28,74);
	background: radial-gradient(circle, rgba(30,28,74,1) 0%, rgba(16,15,40,1) 100%);
	text-align: center;
}




.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}

h1 {
	font-weight: 400;
	font-size:40pt;
}

h3 {
	font-weight: 300;
	font-size:13pt;
	color:rgba(255,255,255,0.6);
}


#UFO_ico {
	margin-top: 5%;
	margin-bottom: 5%;
	width: 10%;
	height: auto;
}

p {
	text-align: left;
	color:rgba(255,255,255,0.5);
}
h5 {
	font-weight: 500;
	font-size: 12pt;
}

h5 b {
	text-decoration: underline;
}

h2 {
	font-weight: 400;
	font-size: 20pt;
	margin-top: 200px;
}


.line {
    fill: none;
    stroke: #494CA4;
    stroke-width: 3;
}



#line_detail .line{
	fill: none;
	stroke: #C856AF;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #9BCFF0;
    box-shadow: 10px 10px grey;
}

#detail_canvas_line .detail_dot {
    fill: #9BCFF0;
    box-shadow: 10px 10px grey;
}

.area {
	fill: url(#temperature-gradient);
}

.key_year {
	font-size:16pt;
	color: rgba(255,255,255,0.5);
}

#events {
	width: 400px;
	position: absolute;
	top:  1580px;
	left: 550px;
	text-align:left;
	color: rgba(255,255,255,0.5);
}

#line {
	width: 100%;
}

#num_container {
	color: white;
	font-size: 14pt;
	margin-top:-200px;
	text-align: right;
}

#num {
	font-weight: 600;
	font-size: 26pt;
}

#linechart {
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
	position: relative;
	height: 1100px;
}

#events_text {
	text-align:left; 
	font-size: 9pt;
	font-weight: 300;
	z-index: 99999;
}

#events_text h3 {
	margin:10px;
	margin-left: 0px;
	margin-bottom: 5px;
}

#e1946{
	position: absolute;
	top:0px;
	left:0px;
	width: 20%;
	color:white;
}
#e1968{
	position: absolute;
	top:0px;
	left:0px;
	width: 15%;
	color:white;
}
#e1974{
	position: absolute;
	top:0px;
	left:0px;
	width: 16%;
	color:white;
}
#e1984{
	position: absolute;
	top:0px;
	left:0px;
	width: 10%;
	color:white;
}
#e1990{
	position: absolute;
	top:0px;
	left:0px;
	width: 10%;
	color:white;
}



#linechart #line_detail {
	margin-top: -940px;
	margin-left: 300px;
	border: 2px solid #494CA4;
	padding: 20px;
	width: max-content;
	padding-right: 40px;
}


.axis .tick text {
	fill: white;
}


.button-container {
	margin: 40px;
}
.button {
	padding: 10px 40px;
	width: 120px;
	display: inline-block;
	border: 1px solid #59539a;
  	margin-left: -5px;
  	cursor: pointer;
}


.left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right-style: none;
}

.right{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left-style:none;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        

        
/* Legend Position Style */
.legend {
	margin-left:800px;
	margin-top:20px;
}

#shape {
	margin-top: 40px;
}

#shape_text {
	text-align:left;
	width: 60%;
	margin: 0 auto;
	margin-top: -400px;
	color:rgba(255,255,255,0.5);
}


.pop-legend {
	margin-left:700px;
}

::selection {
	background: #808DD3;
}


.mon_button {
	padding: 10px 40px;
	width: 70px;
	display: inline-block;
	border: 1px solid #59539a;
  	margin-left: -5px;
  	cursor: pointer;
}

.selected {
	background-color: #59539a;
}

#explore {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

#explore h3 {
	margin-left: 30px;
}

#explore #explore2_container {
	float: left;
	border: 2px solid #494CA4;
	flex-grow: 1;
	flex-shrink: 1;
}

#explore #explore3_container {
	float: right;
	border: 2px solid #494CA4;
	flex-grow: 1;
	flex-shrink: 1;
}

#explore #explore1_container {
	border: 2px solid #494CA4;
	margin-bottom: 20px;
}

.container #explore_text {
	text-align: center;
	font-size: 16pt;
	color: white;
	padding: 10px 0px;
}

#show {
	width: 2%;
}

#flex_container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#map {
	width: 100%;
}